@model IList<site.Models.Domain.Product>

@{
}

<h1>Product</h1>
<a type="submit" class="btn btn-primary" asp-area="" asp-controller="Product" asp-action="Add">Добавить</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td><a href="product/View/@product.Id">Просмотреть</a></td>
            </tr>
        }
    </tbody>
</table>